@model IList<TyresStore.Repository.Models.Tyre>

<table class="table">
    <thead>
        <tr>
            
            <td>Brand</td>
            <td>Price</td>
           
        </tr>
    </thead>


    <tbody>
        @foreach (var tyre in Model)
        {
            <tr>
                <td>@tyre.Brand</td>
       
                <td>@tyre.Price</td>
                <td class="button-select">



                </td>

            </tr>
        }


    </tbody>
</table>

