@model IList<TyresStore.Repository.Models.Tyre>

@foreach (var item in Model)
{
    <div class="card">

        <div class="card-body">

            <h4 class="card-title white-text">@item.Brand</h4>

            <p class="card-text white-text">@item.Season</p>
            <button class="btn btn-primary" onclick="basketModel.addItem(@item.ID,'@item.Brand')">Adauga</button>
        </div>

    </div>

}


